* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Courier New", Courier, monospace;
  color: white;

  background: linear-gradient(
    90deg,
    rgb(59, 157, 164) 25%,
    rgb(16, 143, 152) 100%
  );
}
.text-right {
  margin-left: auto;
}
